{% extends "blog/base.html" %}
{% block title %}My blog{% endblock %}
{% block content %}
    {% if tag %}
    <p class="fs-4">Post tagged with {{ tag.name }}</p>
    {% endif %}
	{% for post in posts %}
		<a href="{{ post.get_absolute_url }}"><div class="fs-4 fw-bold">{{ post.title }}</div></a>
        <p class="fst-italic fs-6">Tags:
        {% for tag in post.tags.all %}
        <a class="link" href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>,
        {% endfor %}
        </p>

		<p class="fst-italic fs-6">Published {{ post.publish }} by {{ post.author }}</p>
        <div class="fs-5">
	{% if post.photo %}
	<div class="text-center"><img src="{{ post.photo.url }}" width="400"></div>
    {% else %}
    <div class="text-center"><img src="https://picsum.photos/400/300/?blur"></div>
	{% endif %}
		{{ post.body|truncatewords:30|linebreaks }}
	</div>
{% endfor %}

<nav aria-label="Posts navigation">
	<ul class="pagination">
		{% if posts.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
		</li>
		{% endif %}
		<li class="page-item active" aria-current="page">
			<a class="page-link" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a>
		</li>
		{% if posts.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
		</li>
		{% endif %}
	</ul>
</nav>

{% endblock %}
